body {
  background: #F4F4F4;
}
.content .con_title {
  width: 100%;
  height: 1.6rem;
  background: #fff;
  color: #6f6f6f;
  font-size: 0.76rem;
  line-height: 1.6rem;
  text-indent: 0.48rem;
  font-family: 'KaiTi';
}
.content .con_title .con_price {
  color: #56B44D;
  display: inline-block;
  margin-left: -0.16rem;
  letter-spacing: 4px;
}
.content .con_txt {
  font-size: 0.68rem;
  width: 15rem;
  text-align: center;
  color: #7e7e7e;
  margin-top: 0.56rem;
}
.content .con_tips {
  font-size: 0.68rem;
  width: 12rem;
  height: 1.28rem;
  color: #4c1a0a;
  margin-left: 1.5rem;
  text-indent: 1rem;
  margin-top: 1rem;
}
